.pp-header-block {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
background-color: #FFFDE8;
line-height: 32px;
border-radius: 40px 40px 15px 15px;
}

.edudms_pt_pp_header {
font-weight: bold;
font-size: 20px;
}

.person-block {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
border-radius: 35px 35px 35px 35px;
}

div.person-block:hover {
	background-color: #E7DCBA;
}

.show_it  {
	text-align:center;
	line-height:24px;
}

@media (max-width:800px) {
	.edudms_pt_pp_header {
		display:none;
	}

	.person-block {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: baseline;
		border-radius: 35px 35px 35px 35px;
	}

	.show_it  {
		text-align:center;
		padding-left: 15px;
	}
	
	div.name {
		padding-left: 20px;
		text-align: left;
		font-size: 18px;
		padding-top: 15px;
	}

	div.name a {
		font-weight: bold;
		color: #9E7E38;
		text-decoration: underline;
	}

	div.email:before {
		content:"Email: ";
		font-weight:bold;	
	}

	div.phone:before {
		content:"Phone: ";
		font-weight:bold;	
	}

	div.office:before {
		content:"Office: ";
		font-weight:bold;	
	}

	div.extracolumn {
		display: block;
	}
	
}

div.wrap_it {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
}


.inactive_div {
display:none;	
}

.prop-1 {
	flex-grow: 1; 
	flex-basis: 20%;
}

.prop-2 {
	flex-grow: 2; 
	flex-basis: 40%;
}

.prop-3 {
	flex-grow: 3; 
	flex-basis: 60%;
}

.prop-4 {
	flex-grow: 4; 
	flex-basis: 80%;
}

div.name {
padding-left: 20px;
text-align: left;
}

div.name a {
font-weight: bold;
color: #9E7E38;
text-decoration: none;
}

.wrap_it div.name a:hover {
font-weight: bold;
color: #456525;
text-decoration: underline;
}

div.title {
font-style: italic;
text-align: left;
}

.wrap_it div.title {
	padding-left: 20px;
}

div.email {
text-align: left;
}

div.email a {
color: #9E7E38;
text-decoration: none;
}

div.email a:hover {
color: #456525;
text-decoration: underline;
}

.label2 {
font-weight: bold;
}

.label3 {
	font-weight: bolder;
	font-size: 18px;
}




.edudms-entry-content {
padding:10px;
}